@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
font-family: 'Open Sans', sans-serif;
    background-color: #232533c2;
}

.app-container {
    display: flex;
    align-items: center;
            flex-wrap: wrap;
                height: 95vh;
                width: 99vw;
                justify-content: space-between;
                color: #fff;
}

#fetch-interface,
#result,
#json-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 1em;
    max-height: 95vh;
}

#fetch-interface {
    align-self: flex-start;
}
#json-container {
    display: none;
    flex: 2 0 20%;
    height: 85%;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
    background: #312d2dab;
    color: lime;
    border-radius: 4px;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
        height: 100%;
        overflow: auto;
        margin: 1em;
        box-sizing: border-box;
}
#headoffice-id,
#prefix,
#prefix-to-delete {
margin: .5em 0;
    padding: 0.3em;
    font-size: .9em;
}

#fetch-button,
#submit-button {
    margin-top: 12px;
padding: 0.5em 1em;
    font-size: 1em;
    background-color: #008CBA;
    /* Lovely blue */
    color: white;
    border: none;
    cursor: pointer;
}
#fetch-button:hover,
#submit-button:hover {
    background-color: #18637c;
}

#result ul li {
list-style-type: none;
    background: #1589b0;
    font-size: 12px;
    padding: 6px;
        margin: 8px;
        text-transform: capitalize;
    }

    
#menu-list {
        cursor: pointer;
max-height: 280px;
    overflow-y: scroll;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    max-width: 360px;
}

#menu-list p:hover {
color: lime;
font-weight: bold;
}

#copy-button {
position: absolute;
    top: 0;
    left: 0;
    padding: 0.4em 0.7em;
    font-size: 1em;
    background-color: #1589b0;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

#copy-message {
    position: absolute;
    top: 0%;
        left: 0%;
    width: 100%;
    padding: 8px;
    text-align: center;
    background: #1589b0;
    color: #000;
        background: lime;
    font-size: 15px;
}
#json-output {}

.spinner {
    display: inline-block;
    width: 40px;
        height: 40px;
    border-radius: 50%;
    border: 2px solid #00e1ff;
    border-top-color: transparent;
    animation: spin 1s ease-in-out infinite;
    position: absolute;
    top: 30%;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#error {
    color: red;
    font-weight: bold;
    padding: 8px;
}

.app-when-spinning {
    opacity: .2;
}