@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
font-family: 'Open Sans', sans-serif;
    background-color: #232533c2;
}

.app-container {
    display: flex;
    color: #fff;
    align-items: center;
    min-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

#headoffice-id,
#prefix,
#prefix-to-delete {
    margin: .6em 0;
    padding: 0.5em;
    font-size: 1em;
}

#submit-button {
    padding: 0.5em 1em;
    margin: 1em 0;
    font-size: 1em;
    background-color: #008CBA; /* Lovely blue */
    color: white;
    border: none;
    cursor: pointer;
}

#fetch-button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #18637c;
    /* Lovely blue */
    color: white;
    border: none;
    cursor: pointer;
}
#submit-button:hover {
    background-color: #007B9A; /* Darker blue on hover */
}

#result {
    display: flex;
    max-width: 40%;
        flex-wrap: wrap;
    }
    
    
#result ul li {
    list-style-type: none;
    background: #1589b0;
        padding: 6px;
        margin: 8px;
        text-transform: capitalize;
    }
    
    
    #menu-list {
        cursor: pointer;
}

#menu-list p:hover {
    color: #008CBA;
    font-size: 16px;
    font-weight: bold;
}
#json-container {
    position: relative;
    background: #312d2dab;
        color: lime;
    padding: 30px 10px;
    margin: 20px;
        max-height: 35vh;
    overflow-y: scroll;
    border-radius: 4px;
}

#copy-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4em 0.7em;
    font-size: 1em;
    background-color: #1589b0;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

#copy-message {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 4px;
    text-align: center;
    background: #1589b0;
    color: white;
    font-size: 15px;
}